.bgCoverPicture,
.bgLogo {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.CoverPictureCardContainer {
  padding-top: 20rem;
}

.CoverPictureCard {
  height: 12rem;
  background-color: transparent;
}

.LogoContainer {
  left: 25px;
  bottom: -45px;
  overflow: hidden;
  width: 95px;
  height: 95px;
}
