:root {
  --bs-body-font-size: 0.75rem;
  --bs-body-color: #212529;
  --bs-primary-rgb: 16, 252, 167;
  --bs-primary-hover-rgb: 6, 250, 67;
  --bs-danger-rgb: 241, 80, 72;
  --bs-link-color: rgb(var(--bs-primary-rgb));
  --bs-link-hover-color: rgb(var(--bs-primary-rgb));
  --transition-duration: 150ms;
  --transition-property: all;
}

section,
aside,
article {
  transition-duration: var(--transition-duration);
}

.nav {
  --bs-nav-link-color: var(--bs-body-color);
}

.nav-tabs {
  --bs-nav-tabs-link-active-bg: transparent;
  --bs-nav-tabs-link-active-border-color: transparent transparent
    rgb(var(--bs-primary-rgb));
  --bs-nav-tabs-link-hover-border-color: transparent;
  --bs-nav-tabs-link-active-border-width: 2px;
}

.nav-tabs .nav-link.active {
  border-width: var(--bs-nav-tabs-link-active-border-width);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #10fca7;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

#main {
  min-height: 100vh;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.btn {
  --bs-btn-font-size: var(--bs-body-font-size);
}

button,
[role="button"] {
  transition-duration: var(--transition-duration);
}

button:focus:not(.btn-static),
[role="button"]:focus:not(.btn-static),
button:active:not(.btn-static),
[role="button"]:active:not(.btn-static) {
  transform: scale3d(0.9, 0.9, 0.9);
}

.form-control {
  font-size: var(--bs-body-font-size);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  border: 1px solid #ced4da;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #599dff;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-blur {
  filter: blur(5px);
  z-index: -1;
}

.btn-danger {
  --bs-btn-bg: rgb(var(--bs-danger-rgb));
  --bs-btn-border-color: var(--bs-danger-rgb);
}

.btn-primary {
  --bs-btn-color: var(var(--bs-body-color));
  --bs-btn-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0bd77b;
  --bs-btn-hover-border-color: #0aca60;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0aca60;
  --bs-btn-active-border-color: #0bd77b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb));
}

@media (max-width: 576px) {
  .NewBtn {
    position: fixed;
    top: unset;
    right: 2rem;
    bottom: 1.5rem;
    left: unset;
    z-index: 1025;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    box-shadow: 0 0 15px 1px rgba(50, 49, 49, 0.76);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
  }
}
